@import "subir-imagen.css";

:root {
    --gris: rgb(140, 142, 196);
}

header {
    min-height: 70px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .botonera {
        width: fit-content;

        & .btn {
            margin: 0 10px;
        }
    }
}

body {
    width: 100vw;
    min-height: 110vh;
    display: grid;
    grid-template-rows: 70px auto 100px;
}

#tabConsultas {
    & .consultaCont {
        max-height: 175px;
        overflow-y: auto;
    }

    & textarea{
        max-height: 120px;
    }
}

.consultaList {
    height: 100px;
    overflow-y: scroll;
}

.trashBtn {
    cursor: pointer;
}

.trashBtn:hover {
    fill: var(--bs-danger) !important;
}

.tabla{
    max-height: 70vh;
    overflow-y: auto;
}