span.sticky-top {
    background-color: var(--bs-body-bg);
}

.redCard {
    min-height: 50px;
    padding: 10px 20px 0px 20px;

    background-color: rgba(139, 0, 0, 0.581);
    border: darkred solid 1px;
    color: darkred;
    text-shadow: 0px 0px 5px red;
}

.cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h4 {
        width: 60vw;
        display: inline;
        overflow: hidden;
        word-break: keep-all;
        line-break: strict;
        white-space: nowrap;
    }

    & i {
        width: fit-content;
        height: fit-content;
        padding: 10px;
        text-align: center;
    }
}

.emptyPlaceholder {
    display: none;
}

#Display:empty + .emptyPlaceholder {
    display: contents;
}

.imgContainer {
    overflow: hidden;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        
        max-height: 100%;
        max-width: 100%;
    }
}