/* reacciones */
svg{
  width: 100%;
  height: 100%;

}
.svg{
  width: 20px;
  height: 20px;
}

.reaccines input{
  display: none;
}

.reaccines input:checked + label{
  fill:#0080FE

}

.anecCont{
  background-image: url(../sources/images/anecFondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: larger;
}

body {
    font-family: Cantarell;
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px auto 70px;
}

#menu a, span {
    font-size: large;
    font-weight: bold 300;
    height: 2.3rem;
    color: white;
}
 
.col-10{
    border: solid 3px #727272;
}


.dropdown-item{
    color: #000 !important;
}

/* Esto controla las cards de las anecdotas hardcodeadas.*/

#anecDiv{
  background-image: url(../sources/images/anecFondo.jpg);
  height: 150px;
}

nav{
    color: white !important;
    background-color: #0080FE;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.nav-scrolled{
    background-color: #0080FE;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

header{
  z-index: 999;
    position: sticky;
}

p {
    color: #1B036D;
}

h1, h2, h3, h4, h5 {
    color: #1B036D !important;
}

.img-header{
  height: 30px;
  width: 30px;
}

.carousel-inner {
    max-height: 45rem;
}

#iconos a{
  font-size: 2rem;
  color: #1B036D;
}

#footer{
  color: #FFF;
    font-size: 20rem;
    background-color: #0080FE;
      
}


.gtco-testimonials {
    position: relative;
    margin-top: 30px;
  
    h2 {
      font-size: 30px;
      text-align: center;
      color: #333333;
      margin-bottom: 50px;
    }
  
    .owl-stage-outer {
      padding: 30px 0;
    }
  
    .owl-nav {
      display: none;
    }
  
    .owl-dots {
      text-align: center;
  
      span {
        position: relative;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: block;
        background: #fff;
        border: 2px solid #01b0f8;
        margin: 0 5px;
      }
  
      .active {
        box-shadow: none;
  
        span {
          background: #01b0f8;
          box-shadow: none;
          height: 12px;
          width: 12px;
          margin-bottom: -1px;
        }
      }
    }
  
    .card {
      background: #fff;
      box-shadow: 0 8px 30px -7px #c9dff0;
      margin: 0 20px;
      padding: 0 10px;
      border-radius: 20px;
      border: 0;
  
      img{
        max-width: 100px;
        border-radius: 50%;
        margin: 15px auto 0;
        box-shadow: 0 8px 20px -4px #95abbb;
        width: 100px;
        height: 100px;
      }
  
      h5 {
        color: #01b0f8;
        font-size: 21px;
        line-height: 1.3;
  
        span {
          font-size: 18px;
          color: #666666;
        }
      }
  
      p {
        font-size: 18px;
        color: #555;
        padding-bottom: 15px;
      }
    }
  
    .active {
      opacity: 0.5;
      transition: all 0.3s;
    }
  
    
    .center {
      opacity: 1;
  
      h5 {
        font-size: 24px;
  
        span {
          font-size: 20px;
        }
      }
  
      img{
        max-width: 100%;
        height: 120px;
        width: 120px;
      }
    }
  }
  
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  
  .owl-carousel {
    .owl-nav button {
      &.owl-next, &.owl-prev {
        outline: 0;
      }
    }
  
    button.owl-dot {
      outline: 0;
    }
  }