body {
    font-family: Cantarell;
    overflow-x: hidden;
}

#menu a, span {
    font-size: large;
    font-weight: bold 300;
    color: #fff;
    height: 2.5rem;
    
}

.navbar{
    transition: all 0.7s;
}

.bg-image{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
}

.nav-scrolled{
    background-color: #0080FE;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


p {
    color: #1B036D;
}

h1,
h2,
h3,
h4,
h5 {
    color: #1B036D;
}


.carousel-inner {
    max-height: 45rem;
}


hr {
    max-width: 80%;
    margin: auto;
    margin-top: 1%;
}

@media (max-widht: 768px) {
    #intro {
        width: 90 !important;
    }
    .preview {
        width: 100%;
        text-align: center !important;
    }
    footer p {
        display: none;
    }
}

footer p {
    color: white;
}

footer{
    font-size: 1rem;
    background-color: #0F52BA;

}

#iconos a{
    font-size: 2rem;
    color: #1B036D;
}