body {
    font-family: Cantarell;
    overflow-x: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px auto 70px;
}

#menu a, span {
    font-size: large;
    font-weight: bold 300;
    height: 2.3rem;
    color: #FFF;
}


.dropdown-item{
    color: #000 !important;
}

p {
    color: #1B036D !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #1B036D !important	;
}

#insc{
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
}


header, nav{
    color: white !important;
    background-color: #0080FE !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

@media (max-widht: 768px) {
    #intro {
        width: 90 !important;
    }
    .preview {
        width: 100%;
        text-align: center !important;
    }
    footer p {
        display: none;
    }
}

footer p {
    color: white;
}

#footer{
    color: #FFF;
      font-size: 20rem;
      background-color: #0080FE;
        
  }

#iconos a{
    font-size: 2rem;
    color: #1B036D;
}

